    html, body {
        height: 100%;
        font-family: Arial, sans-serif;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    
    .container1 {
        flex: 1;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    
    .container2 {
        flex: 1;
        display: flex;
    }

    .container2 .left {
        flex: 6;
        background-color: #4caf50; 
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .container2 .right {
        flex: 4;
        background-color: #8bc34a; 
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    
    .container3 {
        flex: 1;
        display: flex;
    }

    .container3 .left {
        flex: 4;
        background-color: #2196f3; 
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .container3 .right {
        flex: 6;
        background-color: #03a9f4;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
</style>
